{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">About Cinematch</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card p-4 shadow-sm">
                <h3 class="text-center problems">Problems</h3>
                <ul class="l1">
                    <li>So many options - significant time spent browsing</li>
                    <li>Many separate streaming services - only recommend movies they have available</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card p-4 shadow-sm">
                <h3 class="text-center problems">Solution</h3>
                <ul class="l1">
                    <li>Personalized movie recommendation system</li>
                    <li>Applicable across all streaming services</li>
                    <li>Accurately suggest movies based on user selections</li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}